{{! Includes Boostrap CSS}}
{{> start_page}}
    <title>Page Not Found</title>
{{> end_head_start_body}}
  <main class="jumbotron mb-0 text-center min-vh-100 d-flex align-items-center">
    <div class="container mt-n5">
      <header class="row mb-1">
        <h1 class="col display-1">404</h1>
      </header>
      <div class="row ">
        <p class="col lead font-weight-bold">Sorry, we can't find that page</p>
      </div>
    </div>
  </main>
{{! Includes Boostrap-JS, -JQUERY and -Popper}}
{{> end_page}}
