{{! Includes Boostrap CSS}}
{{> start_page}}
    <title>Pollinator Supporting Plants</title>
{{> end_head_start_body}}
    <article class="container text-center pt-5" id="top">
      <header class="row">
        <h1 class="col display-4">Pollinator Supporting Plants</h1>
      </header>
      <p>see the <a href="https://github.com/jimCresswell/pactjs-test-demo">source code for this service</a></p>
      {{> navigation}}
      <main class="row">
        <div class="col">
          <dl>
            {{#each plants}}
            <div>
              <dt class="row" id="{{to_id common_name}}">
                <h2 class="col display-5 pt-4 mt-5">{{> species_anchor}}{{> species_title_w_link}}</h2>
              </dt>
              <dd class="row mb-2">
                <div class="col">
                  <p>{{notes}}</p>
                </div>
              </dd>
              <dd class="card-group" data-test="details">
                {{> card_plant_species}}
                {{> card_supported_species}}
              </dd>
            </div>
            {{/each}}
          </dl>
        </div>
      </main>
      <footer class="row mt-3 mb-3">
        <a class="col text-secondary" href="#top">^ to top</a>
      </footer>
    </article>
{{! Includes Boostrap-JS, -JQUERY and -Popper}}
{{> bootstrap_js}}
{{> custom_js}}
{{> end_page}}
