<nav class="navbar nav-fill sticky-top navbar-expand-sm navbar-light bg-light border rounded-bottom p-1">
  <a class="navbar-brand ml-2" href="#">Plants</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavMarkup" aria-controls="navbarNavMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavMarkup">
    <div class="navbar-nav w-100">
      {{#each plants}}
      <a class="nav-item nav-link" href="#{{to_id common_name}}">{{common_name}}</a>
      {{/each}}
      <a class="nav-item nav-link" href="#">Back to Top</a>
    </div>
  </div>
</nav>
